*, *:after,*:before{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background:#448865;
	display:grid;
	min-height:100vh;
	place-content:center;
	font-family: 'Poppins', sans-serif;
}
form{
	display:flex;
	flex-direction:column;
	align-items:flex-left;
	justify-content:center;
	width:250px;
	background:#1f7771;
	border-radius:7px;
	
	
}
label{
	margin-top:1rem;
	margin-left:3rem;
	color:#b0b7fc;
}
h2{
	margin-left:2rem;
	color:#d7d0a3;
}
input{
	width:150px;
	height:30px;
	margin-left:3rem;
	border-radius:5px;
	text-decoration:none;
	border:none;
	caret-shape:block;
	padding:0.5rem;
	caret-color:#db5c8f;
}

input[type="text"]:focus-within, textarea:focus-within{
	outline:3px solid #ec4137 ;
}
textarea{
	width:150px;
	border:none;
	margin-left:3rem;
	border-radius:5px;
	text-decoration:none;
	padding:0.5rem;
		caret-color:#db5c8f;
			caret-shape:block;
	
}
input[type="radio"]{
	width:1rem;
	accent-color:#e4843e;
    color:#b0b7fc;
	margin-top:-1.75rem;
	margin-left:-3rem;

}
.checkbox {
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-left:-4rem;
	
}
.checkbox label{
	margin-left:4rem;
}

input[type="submit"]{
	cursor:pointer;
	width:200px;
	height:40px;
	background:;
	margin-left:2rem;
	background:#1976D2;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	border:none;
	border-radius:10px;
	margin-bottom:2rem;
}
input[type="submit"]:hover{
	opacity:.7;
	transition-duration:0.3s;
}
@media   screen  and (min-width:40em){
	
	h2{
		margin-left:10rem;
		margin-top:-2rem;
	}
	form{
		width:450px;
		
	}
	input{
		width:350px;
		height:35px;
	}
	input[type="submit"]{
		width:400px;
	}
	textarea{
		width:350px;
	}
	.checkbox{
		display:flex;
		flex-direction:row;
		
		align-items:center;
	}
	.checkbox label{
		margin-left:10rem;
	}
	
	input[type="radio"]{
		margin-top:1rem;
		margin-left:-5rem;
	}
}